<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
        <form [formGroup]="formLogin" (ngSubmit)="submitForm(formLogin)" novalidate autocomplete="off">

            <div class="row justify-content-center">
                <span class="form-login__title">Acceso para clientes</span>
            </div>



            <div class="form-group">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-5 ml-1">
                        <label class="control control-radio">
              C&eacute;dula
              <input type="radio" checked="checked" value="C" formControlName="tipoDocumento" />
              <div class="control_indicator"></div>
            </label>
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-5 col-5">
                        <label class="control control-radio">
              Pasaporte
              <input type="radio" value="P" formControlName="tipoDocumento" />
              <div class="control_indicator"></div>
            </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Cédula o pasaporte" formControlName="usuario">

            </div>
            <div class="form-group">
                <input type="password" class="form-control form-control-lg" placeholder="Clave de accesso" formControlName="password">

            </div>





            <div class="row">
                <div class="col-lg-6 col-md-6 pr-2">
                    <button type="button" class="btn btn-default btn-lg">Cancelar</button>
                </div>
                <div class="col-lg-6 col-md-6 pl-2">
                    <button type="submit" class="btn btn-success btn-lg">Entrar</button>
                </div>


            </div>

            <div class="row">
                <span class="form-login__note">Si no tiene usuario de Internet Banking en BHD León, comuniquese al centro de
          contacto al 809-243-5000.</span>
            </div>

        </form>
    </div>

</div>